.checkbox {
  &-list {
  }

  &-item {
    padding: $space-s;
    padding-left: 30px;
    position: relative;
  }

  &-input {
    position: absolute;
    top: 6px;
    left: 5px;
  }

  &-label {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
